Package: se3
Version: 3.2.0~4
Section: contrib
Priority: optional
Architecture: all
Depends: ssh
Conflicts: nscd
Installed-Size: 1024
Maintainer: Denis Bonnenfant <denis.bonnenfant@diderot.org>
Description: Samba Education. Assistance a l'installation d'un serveur de fichiers Samba. Le kit samba-edu est un ensemble de scripts et de fichiers de configuration permettant de fournir aux etablissements scolaires une configuration "cle en main" d'un serveur Samba Active Directory DC.
